table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

}
td,th{
border-style: solid;
border-width: 1px;
padding-left: 1em;
padding-right: 1em;
word-break: break-all;
height: auto;
}

thead >tr {
    background-color: coral;
    color: #fff;
    border-bottom: 2px solid black;
}

tbody > tr:last-child{
    border-bottom: 2px solid brown;
}

tbody >tr:nth-child(2n-1){
    background-color: forestgreen;
}

table.left{
    text-align: left;
}
table.right{
    text-align: right;
}

table.center{
    text-align: center;
}

tbody > tr:hover{
    background-color: lightcoral;
}

table.w-80{
    width: 80px;
}

table.w-160{
    width: 120px;
}

table.w-240{
    width: 180px;
}